
<h2 class="subtitle">Books available</h2>

<table class="table">
  <thead>
  <tr>
    <th><abbr title="Position">Pos</abbr></th>
    <th>Author</th>
    <th><abbr title="Goal difference">pages</abbr></th>
    <th><abbr title="Points">Price</abbr></th>
    <th>Subject</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <th>1</th>
    <td>
      <a
        href="https://en.wikipedia.org/wiki/Leicester_City_F.C."
        title="Leicester City F.C."
      >Leicester City</a
      >
      <strong>(C)</strong>
    </td>
    <td>38</td>
    <td>23</td>

    <td>
      Qualification for the
      <a
        href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Champions_League#Group_stage"
        title="2016–17 UEFA Champions League"
      >Champions League group stage</a
      >
    </td>
  </tr>
  <tr>
    <th>2</th>
    <td>
      <a
        href="https://en.wikipedia.org/wiki/Arsenal_F.C."
        title="Arsenal F.C."
      >Arsenal</a
      >
    </td>
    <td>38</td>
    <td>20</td>

    <td>
      Qualification for the
      <a
        href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Champions_League#Group_stage"
        title="2016–17 UEFA Champions League"
      >Champions League group stage</a
      >
    </td>
  </tr>

  <tr>

  </tbody>
</table>
